body {
    background-color: wheat;
}

h1 {
    text-align: center;
    color: orange;
    background-color: skyblue;
}

img {
    width: 100px;
    border: tan;
    background-color: teal;
}

.container {
    margin: 10px 250px;
    width: 500px;
    border: double red;
   padding: 20px;
   background-color: rgb(170, 250, 170);
}

p {
    font-family: cursive;
}